<%- include('layouts/head',{title: 'Trung tâm điều khển'}) %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<input type="hidden" data-data="<%= JSON.stringify([products, categories, orders, users]) %>" name="data">
		<!-- Small boxes (Stat box) -->
		<div class="row">
			<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-info">
				<div class="inner">
				<h3><%= products.length %></h3>

				<p>Sản phẩm</p>
				</div>
				<div class="icon">
				<i class="ion ion-tshirt"></i>
				</div>
				<a href="/admin/products" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
			</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-success">
				<div class="inner">
				<h3><%= categories.length %></h3>

				<p>Danh mục</p>
				</div>
				<div class="icon">
				<i class="ion ion-navicon-round"></i>
				</div>
				<a href="/admin/categories" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
			</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-warning">
				<div class="inner">
				<h3><%= orders.length %></h3>

				<p>Đơn hàng</p>
				</div>
				<div class="icon">
				<i class="ion ion-ios-cart"></i>
				</div>
				<a href="/admin/orders" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
			</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-6">
			<!-- small box -->
			<div class="small-box bg-danger">
				<div class="inner">
				<h3><%= users.length %></h3>

				<p>Tài khoản</p>
				</div>
				<div class="icon">
				<i class="ion ion-person-add"></i>
				</div>
				<a href="/admin/users" class="small-box-footer">Xem thêm <i class="fas fa-arrow-circle-right"></i></a>
			</div>
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			<section class="col-lg-7 connectedSortable">
				<!-- Custom tabs (Charts with tabs)-->
				<div class="card">
					<div class="card-header">
					<h3 class="card-title">
						<i class="fas fa-chart-pie mr-1"></i>
						Biểu đồ hệ thống
					</h3>
					<div class="card-tools">
						<ul class="nav nav-pills ml-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#bar-chart" data-toggle="tab">Bar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#line-chart" data-toggle="tab">Line</a>
						</li>
						</ul>
					</div>
					</div><!-- /.card-header -->
					<div class="card-body">
						<div class="tab-content p-0">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="bar-chart" style="position: relative; height: 300px;">
								<canvas id="bar-chart-canvas" ></canvas>
							 </div>
							<div class="chart tab-pane" id="line-chart" style="position: relative; height: 300px;">
							  <canvas id="line-chart-canvas" ></canvas>
							</div>
						  </div>
					</div><!-- /.card-body -->
				</div>
				<!-- /.card -->
			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-5 connectedSortable">
				<!-- Calendar -->
				<div class="card bg-gradient-success">
					<div class="card-header border-0">
	  
					  <h3 class="card-title">
						<i class="far fa-calendar-alt"></i>
						Calendar
					  </h3>
					  <!-- tools card -->
					  <div class="card-tools">
						<!-- button with a dropdown -->
						<div class="btn-group">
						  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
							<i class="fas fa-bars"></i>
						  </button>
						  <div class="dropdown-menu" role="menu">
							<a href="#" class="dropdown-item">Add new event</a>
							<a href="#" class="dropdown-item">Clear events</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item">View calendar</a>
						  </div>
						</div>
						<button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
						  <i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
						  <i class="fas fa-times"></i>
						</button>
					  </div>
					  <!-- /. tools -->
					</div>
					<!-- /.card-header -->
					<div class="card-body pt-0">
					  <!--The calendar -->
					  <div id="calendar" style="width: 100%"></div>
					</div>
					<!-- /.card-body -->
				  </div>
	  
				<!-- /.card -->
			</section>
			<!-- right col -->
		</div>
		<!-- /.row (main row) -->
	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Footer Start -->
<%- include('partials/footer') %>
<!-- Footer Bottom End -->
<%- include('layouts/foot')%>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script>
	const formatDate = function(date) {
		return date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
	}
	const data = $('input[name="data"]').data('data');
	const ctx = document.getElementById('bar-chart-canvas').getContext('2d');
	const chartBar = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['Sản phẩm', 'Danh mục', 'Đơn hàng', 'Tài khoản'],
			datasets: [{
				label: 'AVNENDV',
				data: data.map(item => item.length),
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
	const products = data[0];
	const categories = data[1];
	const orders = data[2];
	const users = data[3];
	const productChart = products.map(product => {
		product.createdAt = dayjs(product.createdAt).format("DD-MM-YYYY")
		return product;
	})
	
	const categoryChart = categories.map(category => {
		category.createdAt = dayjs(category.createdAt).format("DD-MM-YYYY")
		return category;
	})
	const orderChart = orders.map(order => {
		order.createdAt = dayjs(order.createdAt).format("DD-MM-YYYY")
		return order;
	})
	const userChart = users.map(user => {
		user.createdAt = dayjs(user.createdAt).format("DD-MM-YYYY")
		return user;
	})

	const productLengthChart = Array.from(new Set(productChart.map((key) => key.createdAt)));
	const categoryLengthChart = Array.from(new Set(categoryChart.map((key) => key.createdAt)));
	const orderLengthChart = Array.from(new Set(orderChart.map((key) => key.createdAt)));
	const userLengthChart = Array.from(new Set(userChart.map((key) => key.createdAt)));
	
	const daysLength = function () {
		let arr = Array.from(new Set([
			...productLengthChart,
			...categoryLengthChart,
			...orderLengthChart,
			...userLengthChart
		]))
		return arr.sort();
	};

	const dataSet = function(data, dateArr) {
		let set = [];
		for (let index = 0; index < dateArr.length; index++) {
			let count = 0;
			for (let j = 0; j < data.length; j++) {
				if (data[j].createdAt === dateArr[index]) {
					count++;
				}
			}
			set.push(count);
		}
		return set;
	}
	
	const ctx2 = document.getElementById('line-chart-canvas').getContext('2d');
	const chartLine = new Chart(ctx2, {
		type: 'line',
		data: {
			labels: daysLength(),
			datasets: [
              {
                backgroundColor: "rgb(0, 0, 255,0.4)",
                borderWidth: 3,
                borderColor: "blue",
                tension:0.4,
                fill:"start",
                id: 1,
                label: "Sản phẩm",
                data: dataSet(productChart, daysLength()),
              },
              {
                backgroundColor: "rgb(0, 128, 0,0.4)",
                borderWidth: 3,
                borderColor: "green",
                tension:0.4,
                fill:"start",
                id: 2,
                label: "Danh mục",
                data: dataSet(categoryChart, daysLength()),
              },
              {
                backgroundColor: "rgb(255, 0, 0,0.4)",
                borderWidth: 3,
                borderColor: "red",
                tension:0.4,
                fill:"start",
                id: 2,
                label: "Đơn hàng",
                data: dataSet(orderChart, daysLength()),
              },
              {
                backgroundColor: "rgb(255, 0, 0,0.4)",
                borderWidth: 3,
                borderColor: "yellow",
                tension:0.4,
                fill:"start",
                id: 2,
                label: "Tài khoản",
                data: dataSet(userChart, daysLength()),
              },
            ],
		},
		options: {
		responsive: true,
		plugins: {
			legend: {
			position: 'top',
			},
			title: {
			display: true,
			text: ''
			}
		}
		},
	})
</script>
