<%- include('../layouts/head',{title: 'Chỉnh sửa sản phẩm'}) %>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <h3>Chỉnh sửa sản phẩm: <%= product.name %> </h3>
        <div class="card-body">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" id="name" name="name" class="form-control" value="<%= product.name %>" data-id="<%= product._id %> ">
            </div>
            <form method="post" enctype="multipart/form-data" name="upload-files">
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input type="file" id="avatar" name="avatar" class="form-control">
                    <img src="<%= product.avatar %> " alt="avatar" width="100px" height="100px" class="img-avatar my-3">
                </div>
                <div class="form-group">
                    <label for="otherImg">Other Image</label>
                    <input type="file" id="otherImg" name="otherImg" class="form-control" multiple>
                </div>
            </form>
            <% product.size_color.forEach(element => { %>
                <div class="form-group">
                    <label>Size</label>
                    <input type="text" name="size_color[size]" class="form-control"
                        value="<%= element.size %>">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="text" name="size_color[color]" class="form-control"
                        value="<%= element.color %>">
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" name="size_color[quantity]" class="form-control"
                        value="<%= element.quantity %>">
                </div>
            <% }) %>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" name="price" class="form-control" value="<%= product.price %>">
            </div>
            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea id="description" class="form-control" rows="4"
                    style="margin-top: 0px; margin-bottom: 0px; height: 99px;" name="description">
                    <%- product.description %> 
                </textarea>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control custom-select" name="category">
                    <option value="">--- Chọn danh mục ---</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category._id %>" <%= category._id == product.category._id ? 'selected' : '' %> ><%= category.name %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-submit" type="submit">Chỉnh sửa</button>
                <button class="btn btn-danger">Huỷ bỏ</button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Footer Start -->
<%- include('../partials/footer') %>
<!-- Footer Bottom End -->
<%- include('../partials/tinymce') %>

<% if (message && message.type === 'update' && message.status === 'error') { %>
    <script>
        Swal.fire(
            'Error!',
            'Chỉnh sửa sản phẩm thất bại!',
            'error'
        )
    </script>
<% } %>

<script src="/js/changeImage.js"></script>
<%- include('../layouts/foot')%>

<%- include('../partials/product-script', {type: 'update'}) %>
