<%- include('layouts/head') %>
    <!-- Main Slider Start -->
    <div class="header">
        <!-- <div class="container-fluid"> -->
        <div class="banner-top carousel" data-flickity='{ "freeScroll": true, "wrapAround": true,"autoPlay":  true }'>
            <div class="carousel-cell banner-item">
                <img src="img/banner1.jpg" alt="">
                <div class="black-color"></div>
                <div class="banner-text">
                    <div class="banner-text-top">Fashion Changing Always</div>
                    <div class="banner-text-design">Creative Design</div>
                    <div class="banner-text-style">Style is forever</div>
                    <div class="banner-text-button"><a href="#shopnow">SHOW NOW</a></div>
                </div>
            </div>
            <div class="carousel-cell banner-item">
                <img src="img/banner2.jpg" alt="">
                <div class="black-color"></div>
                <div class="banner-text">
                    <div class="banner-text-top">Fashion Changing Always</div>
                    <div class="banner-text-design">Creative Design</div>
                    <div class="banner-text-style">Style is forever</div>
                    <div class="banner-text-button"><a href="#shopnow">SHOW NOW</a></div>
                </div>
            </div>
            <div class="carousel-cell banner-item">
                <img src="img/banner3.jpg" alt="">
                <div class="black-color"></div>
                <div class="banner-text">
                    <div class="banner-text-top">Fashion Changing Always</div>
                    <div class="banner-text-design">Creative Design</div>
                    <div class="banner-text-style">Style is forever</div>
                    <div class="banner-text-button"><a href="#shopnow">SHOW NOW</a></div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <!-- Main Slider End -->

    <!-- Brand Start -->
    <div class="brand">
        <div class="brand-slider">
            <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
        </div>
    </div>
    <!-- Brand End -->

    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="category-item">
                        <img src="img/glasses.jpg" />
                        <a href="#product" class="btn btn-category">Shop Now</a>
                        <div class="category-text">Glases</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item">
                        <img src="img/watches.jpg" />
                        <a href="#product" class="btn btn-category">Shop Now</a>
                        <div class="category-text">Watches</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item">
                        <img src="img/jackets.jpg" />
                        <a href="#product" class="btn btn-category">Shop Now</a>
                        <div class="category-text">Jackets</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-item">
                        <img src="img/clothes.jpg" />
                        <a href="#product" class="btn btn-category">Shop Now</a>
                        <div class="category-text">Clothes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End-->

    <!-- Featured Product Start -->

    <!-- Featured Product End -->

    <!-- Newsletter Start -->
    <div class="newsletter" id="shopnow">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Đăng kí nhận thông tin mới nhất</h1>
                </div>
                <div class="col-md-6">
                    <div class="form">
                        <input type="email" placeholder="Nhập địa chỉ email ...">
                        <button style="width: fit-content;">Đăng kí</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->
    <div class="collection">
        <div class="container-fluid">
            <img src="img/colection.jpg" alt="">
            <div class="collection-text">
                <p>Collection Hourse Our First-ever</p>
                <a href="#footer" class="btn-collection">About Us</a>
            </div>
        </div>
    </div>

    <!-- Recent Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <p>Sản phẩm mới nhất</p>
            </div>
            <div class="row row-cols-lg-4 align-items-center">
                <% products.forEach(function(product){%>
                    <div class="col-lg-3" id="product">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="/products/<%= product._id %>">
                                    <img src=<%=product.avatar %> alt=`image of ${
                                    <%= product.name %>}`>
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#" class="wishlist-add" data-id="<%= product._id %>"><i
                                            class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-title">
                                <a href="/products/<%= product._id %>">
                                    <%= product.name %>
                                </a>
                            </div>
                            <div class="product-price">
                                <p>
                                    <%= product.price %><span>đ</span>
                                </p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <%}) %>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="features">
            <div class="features_list">
                <div class="features_list-item">
                    <i class="fas fa-phone features_list-item-icon"></i>
                    <p class="features_list-item-title">0393448958</p>
                    <p class="features_list-item-text">Round-the-clock free hotline (24/7)</p>
                </div>
                <div class="features_list-item">
                    <i class="fas fa-truck features_list-item-icon"></i>
                    <p class="features_list-item-title">
                        Fast & Free Delivery
                    </p>
                    <p class="features_list-item-text">
                        Free delivery on all orders
                    </p>
                </div>
                <div class="features_list-item">
                    <i class="fas fa-thumbs-up features_list-item-icon"></i>
                    <p class="features_list-item-title">
                        Fast & Free Delivery
                    </p>
                    <p class="features_list-item-text">
                        Free delivery on all orders
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent Product End -->
    <%- include('layouts/foot') %>
        <%- include('partials/add-wishlist') %>
            <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>