<%- include('layouts/head') %>
    <!-- Cart Start -->
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 offset-md-2">
                    <% orders.forEach(order => { %>
                        <div class="cart-page-inner">
                            <div class="row">
                                <p class="location col-10">Mã đơn hàng <%= order._id %> </p>
                                <p class="text-right col-2"><span><%= order.status === 1 ? 'Đang giao' : 'Chờ xử lý' %></span></p>
                            </div>
                            <% let total = 0 %> 
                            <% order.products.forEach(product => { %>
                                <div class="row">
                                    <div class="col-2 image">
                                        <img src="<%= product.productId.avatar %>" alt="ảnh">
                                    </div>
                                    <div class="col-8">
                                        <p><%= product.productId.name %></p>
                                        <p>Phân loại hàng: <%= product.color %>, <%= product.size %></p>
                                        <p>Số lượng: <%= product.quantity %></p>
                                    </div>
                                    <div class="col-2 text-right"><span><%= product.productId.price.toLocaleString('it-IT', {style: 'currency' , currency : 'VND' }) %></span></div>
                                    <% total +=  product.productId.price*product.quantity %> 
                                </div>
                            <% }) %>
                            <% let ship = 10000 %> 
                            <div class="text-right">Phí ship: <span><%= ship.toLocaleString('it-IT', {style: 'currency' , currency : 'VND' }) %> </span></div>
                            <div class="text-right">Tổng số tiền: <span><%= (total + ship).toLocaleString('it-IT', {style: 'currency' , currency : 'VND' }) %> </span></div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    <%- include('layouts/foot') %>
        <script src="/js/cart.js"></script>