<%- include('layouts/head') %>
    <!-- Product Detail Start -->
    <div class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail-top">
                        <div class="row">
                            <div class="col-md-5 align-items-center">
                                <input type="text" name="_id" hidden value="<%= product._id %>" />
                                <div class="product-slider-single normal-slider">
                                    <% product.otherImg.forEach(index=> { %>
                                        <img src="<%= index %>" alt="Product Image" />
                                    <% }); %>
                                </div>
                                <div class="product-slider-single-nav normal-slider">
                                    <% product.otherImg.forEach(index=> { %>
                                        <div class="slider-nav-img">
                                            <img src="<%= index %>" alt="Product Image" />
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    <div class="title">
                                        <h2>
                                            <%= product.name %>
                                        </h2>
                                    </div>
                                    <div class="price">
                                        <h4>Giá :</h4>
                                        <p>
                                            <%=product.price.toLocaleString('it-IT', {style : 'currency' , currency
                                                : 'VND' }) %>
                                        </p>
                                    </div>
                                    <div class="quantity">
                                        <h4>Số lượng:</h4>
                                        <div class="qty">
                                            <button class="btn-minus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" value="1" name="quantity" />
                                            <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="p-size">
                                        <h4>Kích cỡ:</h4>
                                        <div class="product-size-group btn-group btn-group-sm">
                                            <% product.size_color.forEach(index=> { %>
                                                <button type="button" class="btn btn-size">
                                                    <%= index.size %>
                                                </button>
                                                <% }); %>
                                        </div>
                                    </div>
                                    <div class="p-color">
                                        <h4>Màu sắc:</h4>
                                        <div class="product-color-group btn-group btn-group-sm">
                                            <% product.size_color.forEach(index=> { %>
                                                <button type="button" class="btn btn-color">
                                                    <%= index.color %>
                                                </button>
                                                <% }); %>
                                        </div>
                                    </div>
                                    <div class="action">
                                        <a class="btn btn-add add-to-cart" href="#" data-toggle="modal" data-target="#add-cart-modal"><i class="fa fa-shopping-cart"></i>Thêm vào
                                            giỏ</a>
                                        <a class="btn btn-add" href="#"><i class="fa fa-shopping-bag"></i>Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row product-detail-bottom">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#description">Mô tả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#reviews">Đánh giá</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="description" class="container tab-pane active">
                                    <p>
                                        <%- product.description %>
                                    </p>
                                </div>
                                <div id="reviews" class="container tab-pane fade">
                                    <div class="reviews-submitted">
                                    </div>
                                    <div class="reviews-submit">
                                        <h4>Đánh giá của bạn:</h4>
                                        <div class="ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="row form">
                                            <% if (!customer) { %>
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="Name" name="name" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="email" placeholder="Email" name="email" />
                                                </div>
                                            <% } %>
                                            <div class="col-sm-12">
                                                <textarea placeholder="Review" name="content"></textarea>
                                            </div>
                                            <div class="col-sm-12">
                                                <button class="btn-submit-rate">Gửi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="section-header">
                            <h1>Sản phẩm liên quan</h1>
                        </div>

                        <div class="row align-items-center product-slider product-slider-3">
                            <% listProducts.forEach(product=> { %>
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="/products/<%= product._id %>">
                                                <img src="<%= product.avatar %>" alt="Product Image" />
                                            </a>
                                            <div class="product-action">
                                                <!-- <a href="#"><i class="fa fa-cart-plus"></i></a> -->
                                                <a href="#" class="wishlist-add" data-id="<%= product._id %>"><i
                                                        class="fa fa-heart"></i></a>
                                                <a href="/products/<%= product._id %>"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-title">
                                            <a href="/products/<%= product._id %>">
                                                <%= product.name %>
                                            </a>
                                        </div>
                                        <div class="product-price">
                                            <p>
                                                <%= product.price.toLocaleString('it-IT', {style : 'currency' , currency: 'VND' })%>
                                            </p>
                                            <!-- <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</a> -->
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">Thêm thành công</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Detail End -->
<%- include('layouts/foot') %>
<%- include('partials/add-wishlist') %>
<script src="/js/cart.js"></script>
<script>
    const id = $('input[name="_id"]').val();
    const showRate = (name, email, content) => {
        $('.reviews-submitted').append(`
            <div class="reviewer">
                ${name || 'Ẩn danh'} <span>(${email})</span>
            </div>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>
                ${content}
            </p>
        `);
    }
    const getRate = () => {
        $.ajax({
            type: "GET",
            url: `/products/${id}/rate`,
            dataType: "JSON",
            success: function (response) {
                $('.reviews-submitted').html('');
                if (response.rates.length) {
                    response.rates.forEach(rate => {
                        showRate(rate.name, rate.email, rate.content);
                    });
                }else {
                    $('.reviews-submitted').html('<i>Chưa có đánh giá nào</i>');
                }
            }
        });
    }
    getRate();
    $('.btn-submit-rate').click(function(){
        let name = $('input[name="name"]').val() || '';
        let email = $('input[name="email"]').val() || '';
        let content = $('textarea[name="content"]').val();
        
        $.ajax({
            type: "POST",
            url: `/products/${id}/rate`,
            data: {name, email, content},
            dataType: "JSON",
            success: function (response) {
                if (response.status === 200) {
                    getRate();
                }
            },
            error: function(response){
                console.log(response);
            }
        });
    })
</script>