<%- include('layouts/head') %>
<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4>Thông tin tài khoản</h4>
                <form action="" method="post" id="form-validation-user-info">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="user_name" placeholder="User Name"
                                value="<%= user.user_name%>">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="full_name" placeholder="Họ tên"
                                value="<%= user.full_name%>">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="tel" name="phone" placeholder="Số điện thoại"
                                value="<%= user.phone%>">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="email" placeholder="Email"
                                value="<%= user.email%>">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="address" placeholder="Địa chỉ"
                                value="<%= user.address%>">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-update-info" type="submit">Cập nhật thông tin</button>
                            <br><br>
                        </div>
                    </div>
                    <h4>Đổi mật khẩu</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" type="password" name="old_password"
                                placeholder="Mật khẩu hiện tại">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="password" id="new_password" name="new_password" placeholder="Mật khẩu mới">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="password" name="new_password_confirm"
                                placeholder="Xác nhận mật khẩu">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-update-password">Lưu thay đổi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->
<%- include('layouts/foot') %>
<%- include('partials/validation') %>
<script>
    $('.btn-update-info').click((e)=>{
        e.preventDefault();
        const userName = $('input[name="user_name"]').val();
        const fullName = $('input[name="full_name"').val();
        const phone = $('input[name="phone"').val();
        const email = $('input[name="email"').val();
        const address = $('input[name="address"').val();

        const data = {
            'user_name': userName,
            'full_name': fullName,
            'phone': phone,
            'email': email,
            'address': address
        }
        $.ajax({
            type: "PUT",
            url: "/user/update",
            data: {data: JSON.stringify(data)},
            dataType: "JSON",
            success: function (response) {
                if (response.status === 200) {
                    window.location.reload();
                }
            }
        });
    })
    
    $('.btn-update-password').click((e)=>{
        e.preventDefault();
        const passwordOld = $('input[name="old_password"]').val();
        const passwordNew = $('input[name="new_password"]').val();

        const data = {
            'passwordOld': passwordOld,
            'passwordNew': passwordNew,
        }
        $.ajax({
            type: "PATCH",
            url: "/user/update-password",
            data: {data: JSON.stringify(data)},
            dataType: "JSON",
            success: function (response) {
                if (response.status === 200) {
                    window.location.reload();
                }
            }
        });
    })
    
</script>