<%- include('layouts/head') %>
    <!-- My Account Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h4>Account Details</h4>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="User Name" value="<%= detail.user_name%>">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Full Name" value="<%= detail.full_name%>">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Phone" value="<%= detail.phone%>">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Email" value="<%= detail.email%>">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Address" value="<%= detail.address%>">
                            </div>
                            <div class="col-md-12">
                                <button class="btn" type="submit">Update Account</button>
                                <br><br>
                            </div>
                        </div>
                    </form>
                    <h4>Password change</h4>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="password" placeholder="Current Password">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="New Password">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Confirm Password">
                            </div>
                            <div class="col-md-12">
                                <button class="btn">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account End -->
    <%- include('layouts/foot') %>