<%- include('../layouts/head',{title: 'Phân quyền người dùng'}) %>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h3 class="card-title">Phân quyền</h3>
							</div>
							<div class="card-tools">
								<div class="input-group input-group-sm" style="width: 150px;">
									<input type="text" name="table_search" class="form-control float-right"
										placeholder="Search">

									<div class="input-group-append">
										<button type="submit" class="btn btn-default">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body table-responsive p-0">
							<table class="table table-head-fixed table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>User Name</th>
										<th>Full Name</th>
										<th>Role</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% users.forEach(user => { %>
									<tr data-id="<%= user._id %>">
										<td>
											<%= user._id %>
										</td>
										<td>
											<%=user.user_name %>
										</td>
										<td>
											<%=user.full_name %>
										</td>
										<td>
											<% if (user.userType === 'moderator') { %>
                                            <span class="text-primary">Toàn quyền</span>
                                            <% } else { %>
                                                <select class="custom-select sl-role">
                                                    <% roles.forEach(role => { %>
                                                        <option value="<%= role._id %>" <%= role._id === user.role._id ? 'selected' : ''%> ><%= role.name %></option>
                                                    <% }) %>
                                                </select>
                                            <% } %>
										</td>
										<td>
											<% if (user.status === 1) { %>
												<span class="text-success">Hoạt động</span>
											<% } else { %>
												<span class="text-secondary">Khoá</span>
											<% } %>
										</td>
										<td class="text-right">
											<button class="btn btn-primary btn-sm <%= user.userType === 'moderator' ? 'disable' : ''%>  btn-update">
												<i class="fas fa-pencil-alt"></i>
												</i>
												Cập nhật
											</button>
											<button class="btn btn-info btn-sm <%= user.userType === 'moderator' ? 'disable' : ''%>  btn-lock">
												<i class="fas fa-lock"></i>
												</i>
												Khoá
											</button>
										</td>
									</tr>
									<% }) %>
								</tbody>
							
							</table>
						</div>
						<div class="m-3">
							<!-- pagination -->
							<% if(pages > 0) { %> <!-- show pagination if there is pages -->
							  <nav class="mx-auto">
								<ul class="pagination">
								  <!-- FIRST ITEM -->
								  <% if(current == 1) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">First</a>
									</li>
								  <% } else { %>
									<li class="page-item">
									  <a class="page-link" href="?page=1">First</a>
									</li>
								  <% } %>
								  <!-- ITEMS  -->
								  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
								  <% if(i !== 1) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">...</a>
									</li>
								  <% } %>
								  <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
									<% if(i == current) { %>
									  <li class="page-item active">
										<a class="page-link" href="?page=<%= i %>">
										  <%= i %>
										</a>
									  </li>
									<% } else { %>
									  <li class="page-item">
										<a class="page-link" href="?page=<%= i %>">
										  <%= i %>
										</a>
									  </li>
									<% } %>
									<% if (i == Number(current) + 4 && i < pages) { %>
									   <li class="page-item disabled">
										 <a class="page-link" href="#">...</a>
									   </li>
									<% } %>
								  <% } %>
								  <!-- LAST ITEM -->
								  <% if(current == pages) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">
										Last
									  </a>
									</li>
								  <% } else { %>
									<li class="page-item">
									  <a class="page-link" href="?page=<%= pages %>">
										Last
									  </a>
									</li>
								  <% } %>
								</ul>
							  </nav>
							<% } %>
						
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

<!-- Footer Start -->
<%- include('../partials/footer') %>
<!-- Footer Bottom End -->
<%- include('../layouts/foot')%>

<script>
    $('.btn-update').click(function(){
        if (!$(this).hasClass('disable')) {
            const parent = $(this).closest('tr');
            const id = parent.data('id');

            const role = parent.find('.sl-role').val();

            $.ajax({
                type: "PATCH",
                url: `/admin/permissions/${id}/update`,
                data: { role: role},
                dataType: "JSON",
                success: function (response) {
                    console.log(response.status);
                }
            });
        }
    })
</script>
