<%- include('../layouts/head',{title: 'Quản lý tài khoản'}) %>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header row" style="border-bottom: unset">
							<div class="d-flex align-items-center col-md-6">
								<h3 class="card-title">Tài Khoản</h3>
								<a href="/admin/users/create">
									<div class="btn btn-success ml-3">Thêm mới</div>
								</a>
							</div>
							<div class="card-tools col-md-6">
								<a href="#collapseFilter" class="btn btn-default text-primary float-sm-right"
									data-toggle="collapse">
									<i class="fas fa-filter"></i>
									Lọc
								</a>
							</div>
							<div class="collapse mt-3 w-100 <%= Object.keys(query).length !== 0 ? 'show' : '' %>" id="collapseFilter">
								<div class="card card-body">
									<form action="" method="get">
										<div class="form-row">
											<div class="form-group col-md-2">
												<label for="_id">ID</label>
												<input type="text" class="form-control" id="_id" name="_id" value="<%= query._id %>"/>
											</div>
											<div class="form-group col-md-4">
												<label for="user_name">User name</label>
												<input type="text" class="form-control" id="user_name" name="user_name" value="<%= query.user_name ? query.user_name.$regex : ''%>"/>
											</div>
											<div class="form-group col-md-6">
												<label for="full_name">Full name</label>
												<input type="text" class="form-control" id="full_name" name="full_name" value="<%= query.full_name ? query.full_name.$regex : ''%>"/>
											</div>
											<div class="form-group col-md-6">
												<label for="email">Email</label>
												<input type="text" class="form-control" id="email" name="email" value="<%= query.email ? query.email.$regex : ''%>"/>
											</div>
											<div class="form-group col-md-6">
												<label for="userType">Loại tài khoản</label>
												<select id="userType" class="form-control" name="userType">
													<option value="">--- Chọn  loại tài khoản ---</option>
													<option <%= query.userType === 'user' ? 'selected' : '' %> value="user">User</option>
													<option <%= query.userType === 'admin' ? 'selected' : '' %> value="admin">Admin</option>
													<option <%= query.userType === 'moderator' ? 'selected' : '' %> value="moderator">Moderator</option>
												</select>
											</div>
										</div>
										<div class="text-right">
											<button type="submit" class="btn btn-primary">
												<i class="fas fa-filter"></i> Lọc
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body table-responsive p-0">
							<table class="table table-head-fixed table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>User Name</th>
										<th>Full Name</th>
										<th>Số điện thoại</th>
										<th>Email</th>
										<th>Loại tài khoản</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% if (users && users.length) { %>
										<% users.forEach(user => { %>
											<tr>
												<td>
													<%= user._id %>
												</td>
												<td>
													<%=user.user_name %>
												</td>
												<td>
													<%=user.full_name %>
												</td>
												<td>
													<%=user.phone %>
												</td>
												<td>
													<%=user.email %>
												</td>
												<td>
													<%=user.userType %>
												</td>
												<td class="text-right">
													<a class="btn btn-primary btn-sm" href="/admin/users/<%= user._id %>/view">
														<i class="fas fa-folder">
														</i>
														View
													</a>
													<a class="btn btn-info btn-sm" href="/admin/users/<%= user._id %>/edit">
														<i class="fas fa-pencil-alt">
														</i>
														Edit
													</a>
													<div class="btn btn-danger btn-sm" data-toggle="modal"
														data-target="#deleteModal" data-_id="<%= user._id %>"
														data-type="users">
														<i class="fas fa-trash">
														</i>
														Delete
													</div>
												</td>
											</tr>
										<% }) %>
									<% } else { %>
										<tr class="font-italic w-100 text-center">
											<td colspan="7">Không tìm thấy user nào!</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
						<div class="m-3">
							<!-- pagination -->
							<% if(pages > 0) { %> <!-- show pagination if there is pages -->
							  <nav class="mx-auto">
								<ul class="pagination">
								<% var q = Object.keys(query).length !== 0 ? ('&_id=' + (query._id ? query_id : '') + '&user_name=' + (query.user_name ? query.user_name.$regex: '') + '&full_name=' + (query.full_name ? query.full_name.$regex: '') + '&email=' + (query.email ? query.email.$regex: '') + '&userType=' + (query.userType ? query.userType : '')) : ''; %> 
								  <!-- FIRST ITEM -->
								  <% if(current == 1) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">First</a>
									</li>
								  <% } else { %>
									<li class="page-item">
									  <a class="page-link" href="?page=1<%= q %>">First</a>
									</li>
								  <% } %>
								  <!-- ITEMS  -->
								  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
								  <% if(i !== 1) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">...</a>
									</li>
								  <% } %>
								  <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
									<% if(i == current) { %>
									  <li class="page-item active">
										<a class="page-link" href="?page=<%= i %><%= q %>">
										  <%= i %>
										</a>
									  </li>
									<% } else { %>
									  <li class="page-item">
										<a class="page-link" href="?page=<%= i %><%= q %>">
										  <%= i %>
										</a>
									  </li>
									<% } %>
									<% if (i == Number(current) + 4 && i < pages) { %>
									   <li class="page-item disabled">
										 <a class="page-link" href="#">...</a>
									   </li>
									<% } %>
								  <% } %>
								  <!-- LAST ITEM -->
								  <% if(current == pages) { %>
									<li class="page-item disabled">
									  <a class="page-link" href="#">
										Last
									  </a>
									</li>
								  <% } else { %>
									<li class="page-item">
									  <a class="page-link" href="?page=<%= pages %><%= q %>">
										Last
									  </a>
									</li>
								  <% } %>
								</ul>
							  </nav>
							<% } %>
						
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

<!-- Footer Start -->
<%- include('../partials/footer') %>
<!-- Footer Bottom End -->


<%- include('../partials/delete-modal') %>
<% if (message && message.type === 'create' && message.status === 'success') { %>
	<script>
		Swal.fire(
			'Success!',
			'Thêm tài khoản thành công!',
			'success'
		)
	</script>
	<% } %>
<% if (message && message.type === 'update' && message.status === 'success') { %>
		<script>
			Swal.fire(
				'Success!',
				'Cập nhật sản phẩm thành công!',
				'success'
			)
		</script>
<% } %>
<% if (message && message.type === 'delete' && message.status === 'success') { %>
	<script>
		Swal.fire(
			'Success!',
			'Xoá tài khoản thành công!',
			'success'
		)
	</script>
<% } %>
<% if (message && message.type === 'delete' && message.status === 'error') { %>
	<script>
		Swal.fire(
			'Error!',
			'Xoá tài khoản  thất bại!',
			'error'
		)
	</script>
	<% } %>
<%- include('../layouts/foot')%>
