<%- include('../layouts/head',{title: 'Xem tài khoản'}) %>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <h3>Chi tiết tài khoản: <%= users.user_name %> </h3>
        <form method="post" action=""
            enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="user_name">User Name</label>
                    <input type="text" id="user_name" name="user_name" class="form-control" value="<%= users.user_name %>" disabled>
                </div>
                <div class="form-group">
                    <label for="full_name">Full name</label>
                    <input type="text" id="full_name" name="full_name" class="form-control" value="<%= users.full_name %>" disabled>
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" id="birthday" name="birthday" class="form-control" value="<%= users.birthday %>" disabled>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="phone" id="phone" name="phone" class="form-control" value="<%= users.phone %>" disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" value="<%= users.email %>" disabled>
                </div>
                
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" value="<%= users.address %>" disabled>
                </div>
                <div class="form-group">
                    <label for="userType">userType</label>
                    <input type="text" id="userType" name="userType" class="form-control" value="<%= users.userType %>" disabled>
                    
                </div>
                <div class="form-group">
                    
                    <a href="/admin/users/<%= users._id %>/edit"><button class="btn btn-primary" type="button">Chỉnh sửa</button></a>
                    <a href="/admin/users"><button class="btn btn-danger" type="button">Huỷ bỏ</button></a>
                </div>
            </div>
        </form>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Footer Start -->
<%- include('../partials/footer') %>
<!-- Footer Bottom End -->

<%- include('../layouts/foot')%>